<div class="card tweet-<%= tweet.id %>">
    <div class="card-header">
        <%= gravatar_tag tweet.user.email, size: 25, :html => { :class => 'img-fluid'} %> <%= tweet.user.username %>غرد 
        <% if user_signed_in? && current_user == tweet.user %>
            <%= link_to('تعديل', edit_tweet_path(tweet), class: 'btn btn-sm btn-primary') %> | <%= link_to('حذف', tweet_path(tweet), method: :delete, class: 'btn btn-sm btn-danger') %>
            <%end%>
        </div>
        <div class="card-body" style="padding-bottom: 0px">
            <%= raw(tweet.content_html) %>
        </div>
    </div>

    <br>