<div class="row flex-row-reverse">
    <div class="col-3">
        <%= gravatar_tag @user.email, size: 500, :html => { :class => 'img-fluid'} %>
    </div>
    <div class='col'>
        <div class="jumbotron-fluid">
            <h1 class="display-3">
            <%= @user.username %>
            <span class='btn-group'>
                <%= render "follow_button", user: @user %>
                </span>
            </h1>
            <p class="lead">  المتابِعون: X | المتَابعون: Y</p>
            <p class="lead">
                <%= link_to 'المتابعون', followers_user_path(@user.username) %> <%= @user.followers.count %>
                <%= link_to 'المتابعون', following_user_path(@user.username) %> <%= @user.following.count %>
            </p>
            <p> العمر: <%= @user.age %> </p>
            <p> الجنس: <%= @user.gender %> </p>
            <hr class="my-3">
            <h1 class="lead">عن نفسي! </h1>
            <p class="lead"><%= @user.bio %></p>
ى
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <!-- Tweets Here -->
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                    الأنشطة
                    </div>
                    <ul class="list-group list-group-flush">
                    <%= render_activities(@activities) %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>